@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
.card {
  font-family: 'Noto Serif JP', serif;
  color: black;
  background-color: white;
  max-width: 850px;
  margin: auto;
  padding: 1em;
  font-size: 28px;
}

.mobile .card {
  font-size: 20px;
}

.rarefont {
  font-family: 'Simsun', 'Simsunb', serif;
}

/* General table styles */
table {
  border-collapse: collapse;
}

/* Styles for table cells (td) and headers (th) */
td,
th {
  text-align: left;
  border: 0.05em solid black;
  padding: 0.5em;
}
/* Styles for night mode */
.nightMode td,
.nightMode th {
  border: 0.05em solid white;
}

/* Specific styles for the first cell in a row */
td:first-child {
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding-inline: 0.5em;
  color: gray;
  text-align: center;
}

/* Specific styles for the first and last cells in a row */
tr td:first-child,
tr th:first-child {
  border-left: none;
}
tr td:last-child,
tr th:last-child {
  border-right: none;
}

/* Specific styles for the first and last rows in a table */
tr:first-child td {
  border-top: none;
}
tr:last-child td {
  border-bottom: none;
}

/* Styles for table headers */
th {
  background-color: #f2f2f2;
}

@font-face {
  font-family: 'Simsun';
  src: url('__simsun.ttc');
}
@font-face {
  font-family: 'Simsunb';
  src: url('__simsunb.ttf');
}
